.btn-row {
    display: flex;
    align-items: flex-start;
}

.btn {
    border: 1px solid #121212;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    font-family: 'montserrat';
    text-align: center;
}

.btn-source,
.btn-details {
    width: 48%;
    margin: 1%;
    background-color: hsl(var(--color-base-hue), 100%, 83%);
}

.btn-source:hover,
.btn-details:hover {
    background-color: hsl(var(--color-base-hue), 100%, 73%);
}

.btn-demo {
    width: 98%;
    margin: 1%;
    background-color: hsl(var(--color-danger-hue), 100%, 83%);
}

.btn-demo:hover {
    background-color: hsl(var(--color-danger-hue), 100%, 73%)
}